@charset "utf-8";
/* CSS Document */
/*公用*/
.comWidth{ width:960px; margin:0 auto;font-family:"Microsoft YaHei",sans-serif;}
.leftArea{ float:left;}
.rightArea{ float:right;}

/*topBar*/
.topBar{ height:100px; background-image:url(../img/top_bg.png); background-position:center; background-repeat:no-repeat; line-height:100px;}
.topBar img{ }

/* flexslider */
.flexslider{position:relative;height:567px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:567px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat;}

/*导航*/
.navBox{background-image: url(../img/nav_bar.png); background-position:center;background-repeat:no-repeat;height:42px;}
.navBox .comWidth{line-height:42px;}
.nav,.search_text{font-family:"Microsoft YaHei",sans-serif;font-size:16px;color:#FFF;}
.nav{font-size:16px;color:#FFF; width:780px;}
.nav, .nav ul{padding: 0;margin: 0;list-style: none;}
.nav li{ float:left; width:120px;position: relative; z-index:999; }
.nav a{ height:22px; display:inline-block; color:#FFF;line-height:42px;height:42px; text-align:center;}
.nav a:hover{background-image: url(../img/nav_bg.jpg);background-position:center;background-repeat:no-repeat; }
#shouye{ height:146px;}
#huiyuan{height:73px;}
.nav a:link, .nav a:visited {display: block;text-decoration: none;color: #ffffff;}

.nav ul { display: none;position: absolute;line-height:42px;height:250px; width:130px;
         background-image: url(../img/nav_bg1.jpg);background-repeat:no-repeat;}
.nav ul li {float: none;margin: 0;margin-bottom:0;padding: 0;border-bottom:#ff0 dotted 1px;}
.nav ul li a{height:41px;line-height:41px;}
.nav ul li a:hover{ background-image:none; color:#FF0;}
.nav li:hover ul {display: block;height:220px;}
.nav li:hover ul li{height:35px; line-height:33px;}
.nav li:hover ul ul { visibility:hidden;}
.nav li:hover li:hover ul { visibility:visible; left:120px; top:0px;width:331px; height:165px; padding:20px 11px 35px 0; position:absolute;background-image: url(../img/nav_bg2.jpg);}
.nav li:hover li:hover ul li{border-bottom:none; width:353px; height:210px;}
.nav li:hover li:hover ul li a:hover{ color:#FFF;}

.nav_text{width:331px; height:195px; font-size:12px; line-height:20px;}
.nav_text .one_1{ width:180px; height:195px; }
.nav_text .one_2{ width:140px; padding-left:11px; text-indent:23px; overflow: hidden;}





.search_box{ width:140px;padding-top:8px;}
.search_text{background-color:transparent; width:230px; height:20px; border:#ffffff solid 1px; background-image: url(../img/search_1.png); font-size:16px; color:#FFF; text-indent:36px; }

/*tab切换*/
.tab_bg{ position:relative;background-image: url(../img/tb_bg.png); background-position: top center; background-repeat:no-repeat; height:507px;}
.tab_bgg{ position:relative; width:960px; margin:0 auto; height:77px; }
.tab_bgg .logo{
	position: absolute;
	left: 0px;
	top: -10px;
}
.tabsix{width:960px;margin:20px auto 0 auto;}
#tabs{height:77px;overflow:hidden; padding-left:360px; width:605px;text-align:center; )
}
#tabs li{float:left;display:inline;
width:157px; height:77px; line-height:77px; color:#FFF;

	list-style: none;

}
#tabs a{ display:block; height:77px;color:#FFF; list-style: none;}
#tabs a:hover{}

.tabsix #tabs .tab_bg1 { text-align:center;float:left;display:inline;width:157px; height:78px; line-height:77px; position:absolute; left:360px;}
.tabsix #tabs .tab_bg1 a{ text-align:center;background-image:url(../img/img14.png);display:block; height:77px;}
.tabsix #tabs .tab_bg1 a:hover{background-image:url(../img/img15.png);display:block; height:77px;}

.tabsix #tabs .tab_bg2 {text-align:center;float:left;display:inline;width:157px; height:77px; line-height:77px;position:absolute;left:450px;}
.tabsix #tabs .tab_bg2 a{ text-align:center;background-image:url(../img/img14.png);display:block; height:77px;}
.tabsix #tabs .tab_bg2 a:hover{background-image:url(../img/img16.png);display:block; height:77px;}

.tabsix #tabs .tab_bg3 {text-align:center;float:left;display:inline;width:157px; height:77px; line-height:77px;position:absolute;left:540px;}
.tabsix #tabs .tab_bg3 a{text-align:center; background-image:url(../img/img14.png);display:block; height:77px;}
.tabsix #tabs .tab_bg3 a:hover{background-image:url(../img/img17.png);display:block; height:77px;}

.tabsix #tabs .tab_bg4 {text-align:center;float:left;display:inline;width:157px; height:77px; line-height:77px;position:absolute;left:630px;}
.tabsix #tabs .tab_bg4 a{text-align:center; background-image:url(../img/img14.png);display:block; height:77px;}
.tabsix #tabs .tab_bg4 a:hover{background-image:url(../img/img18.png);display:block; height:77px;}

.tabsix #tabs .tab_bg5 {text-align:center;float:left;display:inline;width:157px; height:77px; line-height:77px;position:absolute;left:720px;}
.tabsix #tabs .tab_bg5 a{text-align:center; background-image:url(../img/img14.png);display:block; height:77px;}
.tabsix #tabs .tab_bg5 a:hover{background-image:url(../img/img19.png);display:block; height:77px;}

.tabsix #tabs .tab_bg6 {text-align:center;float:left;display:inline;width:157px; height:77px; line-height:77px;position:absolute;left:810px;}
.tabsix #tabs .tab_bg6 a{text-align:center; background-image:url(../img/img14.png);display:block; height:77px;}
.tabsix #tabs .tab_bg6 a:hover{background-image:url(../img/img20.png);display:block; height:77px;}


/*
#tabs a{float:left;position:relative;padding:0 47px;height:0;line-height:30px;text-transform:uppercase;text-decoration:none;color:#fff;border-bottom:185px solid ;border-bottom-color:#777\9;opacity:1.0;filter:alpha(opacity=100);
transform: skew(-30deg);
-webkit-transform: skew(-30deg);
-moz-transform: skew(-30deg);
-o-transform: skew(-30deg);
border-bottom-image: url(../img/tb_bg1.png); 
}
*/
#tabs h3{font-size:13px; height:67px; line-height:67px;text-align:center;padding-left:15px;}
#tabs p{ font-size:9px; text-align:center;line-height:13px;}
 


#tabs #current{z-index:3;opacity:1;filter:alpha(opacity=100);}
#content{background:#fff; width:960px; height:430px; margin:0 auto; background-image:url(../img/img2.png); background-repeat:no-repeat;}
#content div{display:none;}
#content .tab_text { padding:15px 10px 20px 80px;}
#content .tab_text  li{ float:left; padding-right:50px; list-style:none; width:360px;}
#content .tab_text span{ color:#e34a3d; font-size:20px; line-height:24px;}
#content .tab_text .span{ color:#e34a3d; font-size:14px; line-height:24px;}
#content .tab_text p{font-size:13px;line-height:18px;color:#868686;}

.chef{ margin:0 auto; width:960px; height:420px;}
.zcjs{float: left; width: 20px;font-size: 16px; letter-spacing:20px;word-wrap: break-word; color: #545454;
  padding-top: 100px;}
.chef ul{padding:30px 60px 20px 20px; float: left;}
.chef ul li{ float:left;padding-right:50px; list-style:none; width:350px;}
.chef h1 { 
width: 50px; 
font-size: 20px; 
word-wrap: break-word; 
letter-spacing: 20px;
color:#545454;
line-height:24px;
font-weight:100;

}



.wood{background-image: url(../img/bg_wood.png); background-position:center; background-repeat:no-repeat; height:477px;}
.wood .comWidth{padding-top:44px;}

.manual{ width:585px; height:400px; background-image: url(../img/img6.png);background-repeat:no-repeat;}
.title{ padding-top:49px; padding-left:68px; font-size:14px; color:#703030;font-family:"Microsoft YaHei",sans-serif;
background-image: url(../img/img10.png);background-repeat:no-repeat; background-position:38px 50px;}
.manual ul{padding:21px 25px 10px 35px;height:178px;width:600px; list-style:none;}
.manual li{ float:left; width:115px; padding-right:10px;}
.wood li p{ color:#555; font-size:12px; line-height:17px; padding-left:15px;}

.cook{ padding:0px 60px 5px 60px;background-image: url(../img/img8.png);background-repeat:no-repeat; background-position:36px 4px; height: 75px;
overflow: hidden;}
.cook p{ color:#3d3b3b; font-size:13px;}
.join{ width:348px;height:400px;background-image: url(../img/img7.png);background-repeat:no-repeat;}
.join ul{ list-style:none; padding:10px 10px 5px 30px;}
.join li{ padding-bottom:15px;font-size:14px; color:#703030;font-family:"Microsoft YaHei",sans-serif;}
.join .joinus{background-image: url(../img/img10.png);background-repeat:no-repeat; background-position:10px 11px;
 padding:10px 0 10px 38px;color:#703030; }
.join li p{ font-size:13px; color:#3d3b3b; line-height:20px;background-image: url(../img/img8.png); background-position:7px 3px; background-repeat:no-repeat; padding-left:28px;}
.title1{background-image: url(../img/bg_7.jpg); background-position:center; background-repeat:no-repeat; height:410px; margin-top:20px;}
.title1 .comWidth{background-image: url(../img/bg_8.png); background-position:center; background-repeat:no-repeat;
padding-top:70px; height:410px; width:960px;}
.title1 .new{ width:173px; float:left; padding-top:33px; padding-left:27px;}
.title1 .new h1{ font-size:52px; color:#fff;}
.title1 .new p{font-size:18px; color:#fff;}
.title1 .new1{ width:360px;float:left;}
.title1 .new1 ul{ height:120px;width:360px;}
.title1 .new1 li{ float:left; list-style:none; padding-top:40px;}
.title1 .new1 p{ line-height:21px; padding-top:35px; width:290px; font-size:13px; color:#f0f0f0; text-indent:25px;}

.title1 .new2{ width:400px;float:left; padding-top:60px;}
.title1 .new2 h2{ color:#980b1b; font-size:22px;}
.title1 .new2 p{ line-height:27px; color:#6b6465;}
.foot{ width:960px; margin:0 auto;height:80px; line-height:80px;}
.foot ul{ width:960px; }
.foot li{font-size:16px;  color:#910C04; height:80px; line-height:80px; float:left; list-style:none;overflow:hidden; width: 320px; }

.footer{ height:42px; background-color:#A40D1E; line-height:16px; padding-top:10px; font-size:11px; color:#FFF; text-align:center;}

.helpful{background-image: url(../img/img21.jpg); background-position:center;background-repeat:no-repeat; height:960px;}
.helpful .comWidth{ height: 960px;}
.helpful .comWidth .strength{width: 366px; margin:auto;text-align: center; padding-top:70px; height:62px; color:#050505;background-repeat:no-repeat; font-size: 24px; background-image: url(../img/img22.jpg); background-position:center 58px;}
.helpful .comWidth .p{ padding-bottom:15px;font-size: 24px; line-height: 50px;color:#050505; height:50px; text-align: center;}
.helpful ul{ width: 960px;height: 189px; padding-bottom: 30px;}
.helpful ul li{ width: 137px; height: 189px; list-style:none; float: left;}

.helpful_1{background-image: url(../img/img23.jpg); background-position:center;background-repeat:no-repeat; height:960px;}
.helpful_1 .comWidth{ height: 960px;}
.helpful_1 .comWidth .strength{width: 366px; margin:auto;text-align: center; padding-top:70px; height:62px; color:#050505;background-repeat:no-repeat; font-size: 24px; background-image: url(../img/img22.jpg); background-position:center 58px;}
.helpful_1 .comWidth .comm{ padding:0 30px; position: relative;}
.helpful_1 .comWidth .comm .span{ color: #050505; font-size: 22px; line-height: 42px; padding: 20px 0;}
.helpful_1 .comWidth .comm p{ font-size: 18px; line-height: 32px;}
.helpful_1 .comWidth .comm p span{ font-size: 14px; padding-right: 10px; color: #5b050d; position: absolute; left: -1px;}

/*菜谱*/
.helpful_2 {background-image: url(../img/img21.jpg); background-position:center;background-repeat:no-repeat;}
.helpful_2 .comWidth { padding-top: 20px; height:80px;}
.helpful_2 .comWidth  h1{ color: #000000; font-size: 22px; line-height: 52px;}
.helpful_2 .comWidth p{color: #000000; font-size: 16px;}

.helpful_2 .recipe{  width: 960px; margin: 0 auto; height: 1460px;}
.helpful_2 .recipe .comWidth{height: 10px;}
.helpful_2 .recipe ul{}
.helpful_2 .recipe li{  width: 230px; color:#000000; font-size: 16px; float: left; list-style: none; height: 20px;}
.helpful_2 .recipe  h1{ color: #000000; font-size: 22px; line-height: 32px;line-height: 32px; padding-top: 38px;}
.helpful_2 .recipe p{color: #000000; font-size: 16px; line-height: 26px;}
/* 菜谱-DB_gallery */
.DB_bg{ background-image: url(../img/img21.jpg); background-position:center;background-repeat:no-repeat; padding-top: 10px; clear: both; }
.DB_bg .comWidth{ position: relative; width: 960px;}
#DB_gallery{width:470px;height: 310px;}
#DB_gallery .DB_imgSet {position:relative;height:300px;overflow:hidden; float:left; margin-right: 20px;border:5px solid #9b9b9b;}
#DB_gallery .DB_imgSet .DB_imgWin{height:100%;}
#DB_gallery .DB_imgSet .DB_page{position:absolute;bottom:0;font:11px tahoma bold;padding:5px;color:#ffffff;}
#DB_gallery .DB_imgSet .DB_page .DB_current{color:#ffff00}
#DB_gallery .DB_imgSet .DB_page .DB_total{color:#ffcc00}
#DB_gallery .DB_imgSet .DB_prevBtn{position:absolute;top:50%;margin-top:-45px;cursor:pointer;left:0;}
#DB_gallery .DB_imgSet .DB_nextBtn{position:absolute;top:50%;margin-top:-45px;cursor:pointer;right:0;}

#DB_gallery .DB_thumSet {position:absolute;padding-top:217px; left:490px;width:469px;overflow:hidden;clear: both;}
#DB_gallery .DB_thumSet .DB_thumMove{position:relative;white-space:nowrap;font-size:0}
#DB_gallery .DB_thumSet .DB_thumMove li{display:inline;padding-right: 5px; width: 152px; height: 93px;}
#DB_gallery .DB_thumSet .DB_prevPageBtn{position:absolute;top:0;cursor:pointer;left:0;padding-top:217px;}
#DB_gallery .DB_thumSet .DB_nextPageBtn{position:absolute;top:0;cursor:pointer;right:0;padding-top:217px;}
#DB_gallery .DB_thumSet .DB_thumLine{position:absolute;width:147px;height:83px;left:0;top:0;border:5px solid #9b9b9b;}

/* 友情提示*/
.helpful_2 .ship{height: 875px; width: 960px; margin: 0 auto; }
.helpful_2 .ship .friendship{height: 160px; padding: 50px 0;}
.helpful_2 .ship .friendship .one_1{ height: 160px; width: 620px; padding-right:70px; font-size: 16px;line-height: 22px; color: #756d6c; padding-top: 20px; }
.helpful_2 .ship .friendship .one_2{ height: 160px; width: 270px; }


/*主厨教室*/


.button_bg{
	background-image:url("../images/chef_8_960_11.jpg");
	width: 90px;
	height: 30px;
	color: white;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
}

#container_top_w{
	margin: 0 auto;
	width: 960px;
}

.a_block{
	display: inline-block;
	float: right ;
	margin-top: 35px;
	margin-bottom: 45px;
}

.clear_w:after{
	content: ".";
	display: block;
	font-size: 0px;
	clear: both;
}


.tab_w{
	background-image: url("../img/chef_red_02.png");
	height: 180px;
	margin: 0 auto;
}

.tab_ul_w{
	list-style: none;
	margin:0px;
	padding: 0px;
}

.clear_style{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.tab1_w{
	float: left;
}

.tab2_w{
	float: left;
	margin-left: -40px;
}

.tab_960 {
	width: 960px;
	margin: 0 auto;
}

.chef_main{
	width:960px;
	margin: 0 auto;
	padding-top: 100px;
}

.chef_pic_l{
	float: left;
}

.chef_c{
	width: 315px;
	background-color: white;
	float: left;
}

.chef_pic_l_li{
	float: left;
	margin-left: 22px;
	padding-top: 20px;

}
.chef_pic_c_li{
	width: 315px;
	color: #868686;
	font-size: 22px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;

}

.font13{
	font-size: 13px;
	padding-bottom: 10px;
	padding-top: 0px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	width: 275px;
}

.bg_chef_w {
	background-image: url(../img/img21.jpg); background-position:center;background-repeat:repeat;
}

.chef_r_stand{
	float: left;
	margin-left: -12px;
	padding-top: 115px;


}

.chef_font_r{
	color: #868686;
	font-size: 22px;
	float: left;
	margin-left: 10px;
	line-height: 24px;
	font-family: "微软雅黑";
	padding-top: 115px;

}

.iro_chef{
	width: 960px;
	margin: 0 auto;
	margin-top:105px;
	padding-bottom: 70px;
}

/*.iro_chef1{*/
	/*float: left;*/
/*}*/

.iro_chef2{
	float: left;
	margin-left: 18px;
}

.iro_chef_font_1{
	width: 176px;
	font-size: 13px;
	color: #868686;
	font-family: "微软雅黑";
	text-align: left;
	/*float: left;*/
}

.iro_chef_font_2{
	width: 176px;
	font-size: 13px;
	color: #868686;
	font-family: "微软雅黑";
	text-align: left;
	float: left;
	margin-left: 20px;
}
.chef_22font{
	color: #868686;
	font-size: 22px;
	font-family: "微软雅黑";
	text-align: center;
	padding-bottom: 15px;
}

.chef_top_gap{
	margin-top: 20px;
}

.chef_top_gap2{
	margin-top: 30px;
}

/*add css*/

.chef_w_1{
    float: left;
}

.chef_w_2{
    float: left;
    margin-left: 18px;
}

.m_top_w{
    margin-top: 30px;
}

.p_top_20{
    padding-top: 20px;
}
/*membership*/

.membership_font{
	font-family:"微软雅黑";
	font-size:13px;
	color:#767676;
	width: 960px;
	padding-top: 90px;
	margin:0 auto;
}

.control_label{
	padding-right:70px;
	width:360px;
	display:inline-block;
	text-align:right;
}

.form_control{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	padding: 2px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width:300px;
}
.form_control_2{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	padding: 2px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width:200px;
}

.form_control_3{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	padding: 2px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width:226px;
}

.form_control_4{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	padding: 2px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width:325px;
}

.form_control_5 {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	padding: 2px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: top;
	width: 300px;
	margin-top:13px;
}

.gap{
	width:60px;
	display:inline-block;
}

.gap1{
	width:47px;
	display:inline-block;
}

.gap2{
	width:21px;
	display:inline-block;
}

.gap3{
	width:540px;
	display:inline-block;
}


.button_control_ww{
	margin-top: 40px;
	width: 100px;
	height: 40px;
	margin-bottom: 90px;
}


.p_margin_change{
	margin: 10px auto 10px auto;
}


/*会员福利、会员准则*/
.welfare{ color: #714e2e; padding-bottom: 80px;}
.welfare h2{padding-top: 20px;font-size: 24px;line-height: 52px; letter-spacing: 8px;}
.welfare p{ font-size: 16px;  line-height: 25px;color: #424242;}
.welfare span{font-size: 14px; padding-left: 8px; letter-spacing: 1px;}
.welfare ol { padding-left:18px; }
.welfare ol li{font-size: 16px; line-height:30px; color: #424242;}
